{:paths ["src/clj"]
 :deps {org.danielsz/ring-utils {:mvn/version "0.2.0"}
        ring/ring {:mvn/version "1.8.0"}
        compojure/compojure {:mvn/version "1.6.2"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        ring/ring-defaults {:mvn/version "0.3.3"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        metosin/reitit {:mvn/version "0.5.15"}
        com.fasterxml.jackson.core/jackson-core {:mvn/version "2.13.1"}
        org.danielsz/system {:mvn/version "0.4.7"}
        cider/cider-nrepl {:mvn/version "0.28.1"}
        nrepl/nrepl {:mvn/version "0.9.0"}
        org.immutant/web {:mvn/version "2.1.10"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.4"}
                               org.clojure/core.async {:mvn/version "1.5.648"}
                               org.danielsz/cljs-utils {:mvn/version "0.1.5"}
                               cljsjs/react {:mvn/version "17.0.1-0"}
                               cljsjs/react-dom {:mvn/version "17.0.1-0"}                               }
                  :extra-paths ["src/cljs"]}
           :figwheel {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.15"},
                                   com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}},
                      :extra-paths ["target" "resources"]}
           :repl {:extra-deps {org.meyvn/nrepl-middleware {:mvn/version "1.2.5"}}}
           :test {:extra-paths ["test"]}}}
